<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/rules.css" />
    <title>BackGammon</title>
  </head>
  <body>
    <a href="./main.html" class="home">
      <img src="../png/home.png" alt="home" />
    </a>

    <div class="rules_header">Rules</div>

    <img src="../png/rule_1.png" alt="rules" class="rule rule_1" />
    <img src="../png/rule_2.png" alt="rules" class="rule rule_2" />
    <img src="../png/rule_3.png" alt="rules" class="rule rule_3" />
  </body>
</html>
