@font-face {
  font-family: "Itim";
  src: url("../fonts/Itim-Regular.ttf");
}

body {
  background: url(../png/back.png) center/100% 100%;
  height: 100vh;
  min-height: 800px;

  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_elips {
  position: relative;
  background: url(../png/button_elips.png) center/100% 100%;
}

.button_elips span {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
}

.button_circle {
  position: relative;
  background: url(../png/button_circle.png) center/100% 100%;
}

.home {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 5;

  width: 32px;
  height: 27px;

  transform-origin: left top;
}

.home img {
  width: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 55px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #000000;
  opacity: 0.7;
}

.balance_field {
  width: 100px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance_field img {
  width: 38px;
}

.balance {
  font-size: 2rem;
  width: 50%;
}
